.border6 {
  width: 40px;
  height: 40px;
  border: 10px solid yellow;
  outline: 10px solid green;
  position: relative;
  top: 40px;
  left: 40px;
  box-shadow: inset 0 0 5px 10px #000, 0 0 5px 10px #f0f, 0 0 0 20px #800, 
  0 0 0 30px #a52, 0 0 0 40px #20b2aa;
}