a {
    display: block;
    width: 200px;
    padding: 2px;
    margin-left: 5px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    background: #B34EE9;
    color: #fff;
    transition: all .5s ease;
}

a:hover {
    background: #00FFA9;
    color: #2848FF;
}

.gallery {
    width: 500px;
    height: 600px;
    overflow-y: scroll;
}

h3 {
    font-family: sans-serif;
}