.row>div {
  display: inline-block;
}

.row {
  clear: both;
  width: 30px;
}

.left {
  float: left;
}


.margin-right-20 {
  margin-right: -20px;
}

.margin-left20 {
  margin-left: 16px;
}

.margin-top-18 {
  margin-top: -19px;
}